---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import { Image } from 'astro:assets';
import vetPortrait01 from '../assets/albums/veteran-portfolio-portrait-1.jpg';
import vetPortrait02 from '../assets/albums/veteran-portfolio-portrait-2.jpg';
import vetPortrait03 from '../assets/albums/veteran-portfolio-portrait-3.jpg';
import vetPortrait04 from '../assets/albums/veteran-portfolio-portrait-4.jpg';
import vetPortrait05 from '../assets/albums/veteran-portfolio-portrait-5.jpg';
import vetPortrait06 from '../assets/albums/veteran-portfolio-portrait-6.jpg';
import vetPortrait07 from '../assets/albums/veteran-portfolio-portrait-7.jpg';
import vetPortrait08 from '../assets/albums/veteran-portfolio-portrait-8.jpg';
import vetPortrait09 from '../assets/albums/veteran-portfolio-portrait-9.jpg';
import vetPortrait10 from '../assets/albums/veteran-portfolio-portrait-10.jpg';
import vetPortrait11 from '../assets/albums/veteran-portfolio-portrait-11.jpg';
import vetPortrait12 from '../assets/albums/veteran-portfolio-portrait-12.jpg';
import vetPortrait13 from '../assets/albums/veteran-portfolio-portrait-13.jpg';
import vetPortrait14 from '../assets/albums/veteran-portfolio-portrait-14.jpg';
import vetPortrait15 from '../assets/albums/veteran-portfolio-portrait-15.jpg';
import vetPortrait16 from '../assets/albums/veteran-portfolio-portrait-16.jpg';
import vetPortrait17 from '../assets/albums/veteran-portfolio-portrait-17.jpg';
import vetPortrait18 from '../assets/albums/veteran-portfolio-portrait-18.jpg';
import vetPortrait19 from '../assets/albums/veteran-portfolio-portrait-19.jpg';
import vetPortrait20 from '../assets/albums/veteran-portfolio-portrait-20.jpg';
import vetPortrait21 from '../assets/albums/veteran-portfolio-portrait-21.jpg';
import vetPortrait22 from '../assets/albums/veteran-portfolio-portrait-22.jpg';
import vetPortrait23 from '../assets/albums/veteran-portfolio-portrait-23.jpg';
import ImageContentBlock from '../components/ImageContentBlock.astro';

const images = [
	{ src: vetPortrait01, alt: ''},
	{ src: vetPortrait02, alt: ''},
	{ src: vetPortrait03, alt: ''},
	{ src: vetPortrait04, alt: ''},
	{ src: vetPortrait05, alt: ''},
	{ src: vetPortrait06, alt: ''},
	{ src: vetPortrait07, alt: ''},
	{ src: vetPortrait08, alt: ''},
	{ src: vetPortrait09, alt: ''},
	{ src: vetPortrait10, alt: ''},
	{ src: vetPortrait11, alt: ''},
	{ src: vetPortrait12, alt: ''},
	{ src: vetPortrait13, alt: ''},
	{ src: vetPortrait14, alt: ''},
	{ src: vetPortrait15, alt: ''},
	{ src: vetPortrait16, alt: ''},
	{ src: vetPortrait17, alt: ''},
	{ src: vetPortrait18, alt: ''},
	{ src: vetPortrait19, alt: ''},
	{ src: vetPortrait20, alt: ''},
	{ src: vetPortrait21, alt: ''},
	{ src: vetPortrait22, alt: ''},
	{ src: vetPortrait23, alt: ''},
]
---

<Layout title="Veteran Portraits">
	<Hero title="Veteran Portraits" />
	<main class="grid grid-flow-row px-4 mx-auto w-full xl:max-w-screen-2xl">
		<ImageContentBlock order='lg:order-last' title='Photographic Portraits of Residents at Vets Place Central in Milwaukee'>
			<Image loading="eager" slot="image" src={vetPortrait22} alt="" class="object-cover rounded-3xl shadow-2xl" />
			<p>In addition to being the executive director of Artists for the Humanities, Tim Mayer is also a professional photographer. For the last several years he has been chronicling the plight of our homeless veterans through a photographic portrait project which he hopes to turn into an exhibit that will focus attention on the many challenges our homeless veterans must deal with both here in Wisconsin and throughout the United States. Tim’s portraits of homeless veterans are both dignified and respectful. It is the same approach he takes, dignity and respect, with veterans in the art therapy, mental health guidance, and life skills program that Artists for the Humanities have been conducting for the last fourteen (14) years. The participating veterans who are homeless and/or suffer from PTSD and/or substance abuse appreciate his approach. The art therapy program has served over 5,250 veterans in Wisconsin since 2009.</p>
		</ImageContentBlock>
		<div aria-hidden="true" class="container aspect-video swiper-container text-black my-8">
			<div class="swiper main mb-4">
				<div class="swiper-wrapper aspect-video">
					{images.map((image) => (
						<div class="swiper-slide"><Image aria-hidden="true" src={image.src} alt={image.alt} class="h-[inherit] object-contain" /></div>
					))}
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
			<div class="swiper thumbs">
				<div class="swiper-wrapper">
					{images.map((image) => (
						<div class="swiper-slide"><Image aria-hidden="true" src={image.src} alt={image.alt} width={100} height={100} class="object-cover aspect-square" /></div>
					))}
				</div>
			</div>
		</div>
	</main>
</Layout>

<script src="../libs/swiper.js"></script>
